version: '3'
services:
  nginx:
    ports:
      - "8083:80"

  php-fpm:
    environment:
      PHP_IDE_CONFIG: 'serverName=server'

  db:
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    ports:
      - "54320:5432"